.container-buttons {
	display: flex;
	justify-content: flex-end;
}

.user__button-msg {
	border: none;
	background: $sky-blue;
	color: $white;
	padding: 8px 10px 8px 10px;
}

.user__button-msg:hover {
	border: none;
	background:$secondary;
	color: $white;
	padding: 8px 10px 8px 10px;
}


.user__button-follow {
	border: none;
	background: $salmon;
	color: $white;
	padding: 8px 15px 8px 15px;
}

.user__button-follow:hover {
	border: none;
	background: $secondary;
	color: $white;
	padding: 8px 15px 8px 15px;
}