
//Breakpoints 

$breakpoints: (

	'small': (min-width: 576px),
  	'medium': (min-width: 768px),
  	'large': (min-width: 992px),
  	'extralarge': (min-width: 1200px),
);


// Color Scheme

// Primary Colors
	$salmon: #FF6666;
	$sky-blue: #92DCE5;
	$gray: #848484;
	$white: #fff;


// Typography

//Font Family
	$montserrat: 'Montserrat', sans-serif;
	$open-sans: 'Open Sans', sans-serif;

// Font Weight
	$regular: 400;
	$medium:500;
	$semi-bold: 600;
	$bold: 700;


// Font Sizes
	$x-large: 35px;
	$large: 25px;
	$medium: 20px;
	$small: 16px;
	$x-small: 10px;